{% set fmt_dt = format_datetime %}
{% set fmt_iso8601_date = 'Y-m-d' %}
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:gcse="uri:google-did-not-provide-a-real-ns"
  {% if lang %}lang="{{ lang }}" xml:lang="{{ lang }}" {% endif %}
>
<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% include 'SiteMetadata.html.twig' %}
{% include 'OpenGraphProtocol.html.twig' %}
{% if site_author_twitter %}
{% include 'TwitterMetadata.html.twig' %}
{% endif %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ajusa/lit@1.0.0/dist/lit.css" />
  <style>
    .followingContentWrapper, .requestFollowing {
      display: none;
    }
  </style>
{% if google_adsense_publisher_id %}
{% include 'GoogleAdSenseAutomaticAds.html.twig' %}
{% endif %}
  <title>{% if title %}{{ title|e }} - {% endif %}{{ site_title }}</title>
</head>
<body>
  <div id="app" class="c">
    <header class="row" >
      <nav class="card">
        <div class="col"><a href="{{ site_url }}/">Home</a></div>
        <div class="col"><a href="{{ site_url }}/LICENSE">LICENSE</a></div>
        <div class="col"><a href="{{ site_url }}/doc/">Document</a></div>
        <div class="col"><a href="{{ site_url }}/blog/">Blog</a></div>
        <div class="col"><a href="https://github.com/DBC-Works/BoothCMS">GitHub</a></div>
      </nav>
    </header>
    <main class="row" role="main">
      <div class="9 col">
{% if main_contents %}
      <!-- Main contets -->
        <section>
{% if as_list and title %}
          <h1>{{ title|e }}</h1>
{% endif %}

{% for content in main_contents %}
          <article class="card">
            <h2>{{ content.title|e }}</h2>
{% if content.body %}
            <div>
{{ content.body }}
            </div>
{% if as_list %}
            <div>(<a href="{{ site_url }}{{ content.path }}">View content</a>)</div>
{% endif %}
{% endif %}

{% if content.tags %}
            <div>{% for tag in content.tags %} <a href="{{ site_url }}/tags/{{tag|url_encode}}">#{{ tag|e }}</a>{% endfor %}</div>
{% endif %}
            <div>Publish: <time>{{ content.date|date(fmt_dt) }}</time> / Update: <time>{{ content.update|date(fmt_dt) }}</time></div>
          </article><!-- .card -->

{% if content.prev or content.next %}
          <div>
{% if content.next %}
            &lt;&lt; <a rel="next" href="{{ site_url }}{{ content.next.path }}">{{ content.next.title|e }}</a>
{% endif %}
{% if content.prev and content.next %} | {% endif %}
{% if content.prev %}
            <a rel="prev" href="{{ site_url }}{{ content.prev.path }}">{{ content.prev .title|e }}</a> &gt;&gt;
{% endif %}
          </div>
{% endif %}

{% if related_contents %}
          <div>
            <h3>Related contents</h3>
            <ul>
{% for content in related_contents %}
              <li><a href="{{ site_url }}{{ content.path }}">{{ content.title|e }}</a></li>
{% endfor %}
            </ul>
          </div>
{% endif %}

{% endfor %}{# main_contents #}

{% if has_following %}
          <div class="card followingContentWrapper" v-bind:style="followingContentWrapper" v-for="followingContent in followingContents">
            <article>
              <h2>{{ '{{' }} followingContent.title {{ '}}' }}</h2>
              <div v-html="followingContent.body"></div>
{% if as_list %}
              <div>
                (<a v-bind:href="env.siteUrl + followingContent.path">View content</a>)
              </div>
{% endif %}
              <div v-if="0 &lt; followingContent.tags.length">
                <span v-for="(tag, index) in followingContent.tags"><a v-bind:href="env.siteUrl + '/tags/' + encodeURIComponent(tag)">#{{ '{{' }} tag {{ '}}' }} </a>
                  <template v-if="index &lt; followingContent.tags.length - 1"> </template>
                </span>
              </div>
{% verbatim %}
              <div>Publish: <time>{{ followingContent.date }}</time> / Update: <time>{{ followingContent.update }}</time></div>
{% endverbatim %}
            </article>
          </div><!-- .card -->
          <div class="requestFollowing" v-bind:style="requestFollowing" v-if="env.hasFollowing">
            <button class="btn" v-on:click="onClickRequestFollowing">More...</button>
          </div>
{% endif %}{# has_following #}
{% if site_author_twitter %}
          <div>
            {% include 'TwitterTweetControl.html.twig' %}
          </div>
{% endif %}
        </section>
{% endif %}

{% if tag_set %}
        <section>
          <h2>Tag set</h2>
          <ul>
{% for tag_name, tag_values in tag_set %}
            <li>{{ tag_name|e }}: <a href="{{ site_url }}/tags/{{tag_name|e}}">{{tag_values|length}}</a></li>
{% endfor %}
          </ul>
        </section>
{% endif %}{# tag_set #}
{% if google_custom_search_engine_id %}
{% include 'GoogleCustomSearchEngine.html.twig' %}
{% endif %}
      </div><!-- .9 .col -->

      <!-- Support contets -->
      <aside class="3 col">
{% if support_contents %}
        <h5>Recent updates</h5>
        <ul>
{% for support_content in support_contents %}
          <li><a href="{{ site_url }}{{ support_content.path }}">{{ support_content.title|e }}</a></li>
{% endfor %}
        </ul>
{% endif %}
      </aside><!-- .3 .col -->
    </main><!-- .row -->
  </div><!-- .c -->

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    var baseUrl = '{{ site_url }}';
    var asDevelop = baseUrl.indexOf('http://example.com') !== -1
                  || baseUrl.indexOf('{{ site_url }}') !== -1 
                  || window.location.origin.indexOf('localhost') !== -1;
    var env = {
      siteUrl: baseUrl,
      path: '{{ path }}',
      hasFollowing: {{ has_following ? 'true' : 'false' }},
      asDevelop: asDevelop
    };
    var page = {
      // set page specific property
    };

    if (asDevelop) {
      var m = new RegExp('^https?:\/\/[^\/]+(.*)').exec(baseUrl);
      baseUrl = window.location.origin + m[1];
    }
    var script = document.createElement('script');
    script.setAttribute('src', baseUrl + '/views/common/js/app.js');
    document.body.appendChild(script);
  </script>
{% if structured_data %}
{% for data in structured_data %}
{{ data }}
{% endfor %}
{% endif %}
{% if google_analytics_tracking_id %}
{% include 'GoogleAnalytics.html.twig' %}
{% endif %}
</body>
</html>